.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.socialMedia{
    display: flex;
    gap: 1.5rem;
}

.pages{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-family: 'Poppins-Regular';
    justify-content: center;
    align-items: center;
}

.pages li{
    border-bottom: 1px solid var(--secondary-color);
    padding-bottom: 5px;
}

@media screen and (max-width:768px) {
    .pages li, .footer p{
        font-size: 0.8em
    }
}